*.sw[po]
*.py[co]
.DS_Store
.idea
*.iml
*.bak
docs/_build
/src/webfront/local_settings.py
/src/webfront/media/uploads/[A-Za-z0-9]*
/src/webfront/media/pub/[A-Za-z0-9]*
/src/webfront/media/thumbnails/[A-Za-z0-9]*
/src/webfront/media/reports/templates/*
/src/webfront/media/reports/results/*
*.db
Session.vim
/src/scorm/classes
/src/scorm/lib
/src/scorm/package
/src/scorm/conf
/src/scorm/*.jar
/src/scorm/.project
/src/scorm/.classpath
*.class
/src/reports/engine/conf/engine.properties
# coverage's stats and html report
.coverage
/htmlcov
/.project
/.pydevproject
/.settings
*.rdb
/redis
/tomcat
/tmp/*
reports.log
src/reports/engine/.classpath
/src/webfront/media/previews/[A-Za-z0-9]*
gunicorn.conf.py
.metadata
django.mo
inst.py

