<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body bgcolor="#ffffff">
<img  align="top" src="http://info.sello.fi/media/img/SELLO_2_RGB.jpeg" alt="Home">
<hr>
<p></p>
<font face="Helvetica, Arial">
<p>
<font size="5"><b><i>Tervetuloa eSelloon</i></b><br></font>
</p>
Hei {{username}},<br />
<b><br /></b>
Kauppakeskus Sello on kuin sinfoniaorkesteri, jossa yhteistoiminnan tulee olla saumatonta, jotta määrätyt tavoitteet voidaan saavuttaa.
Sellossa haluamme, että jokainen sellolainen on tietoinen Sellon yhtenäisistä käytännöistä ja toimintatavoista. 
Kauppakeskus Sello käyttää eSelloa jakaakseen sisäistä koulutusmateriaalia sellolaisille.
eSelloon pääset: www.info.sello.fi –osoitteesta.<br />
<p>

<p><br>
Aktivoi tilisi seuraamalla oheista linkkiä:<br>
http://{{ site_name}}{{ activate_url }} 
<p>
Huomaa että, että jos aktivointi ei onnistu {{ expiration_days }} päivään<br>
mennessä, sinun on <br>
käynnistettävä rekisteröinti prosessi uudelleen.<br>
<br>
Kun olet kirjautunut Knetoon niin Klikkaa vihreätä Play nappia niin näet materiaalin.
<br>
<br>
<img  align="top" src="http://sales.kneto.fi/media/img/kneto_storyboard_enjoy.jpeg" alt="Home">
</p>

<hr>

<strong>Terveisin Sellon Toimisto</strong><br />
</b>
<br>
Tämä on automaattisesti lähetetty sähköpostiviesti, älä vastaa tähän sähköpostiviestiin <br />


</body>

<br />
<br />

</html>
