{% extends "administration/widget_admtool_template.html" %}
{% load i18n %}
{% load admin_custom_tags %}
{% block style %} style="width: 100%;"{% endblock %}
{% block content %}

<form id="GUISettingsForm" action="/administration/gui-settings/" method="post" class="nyroModal clear" enctype="multipart/form-data">
    {% load extras %}
    {% if form.non_field_errors %}
      <div class="error">
        {%for error in form.non_field_errors %}
          {{error}}
        {% endfor %}
      </div>
    {% endif %}
    {% csrf_token %}
    <ul class="formList">
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}
      <li>
        <label>{{ form.default_language.label }}</label>
        <div class="inputWrapper shadow-gray selectWrapper">{{ form.default_language }}</div>
      </li>
      <li>
        <label>{{ form.custom_web_title.label }}</label>
        <div class="inputWrapper shadow-gray">{{ form.custom_web_title }}</div>
      </li>
      <li>
        <label>{{ form.footer.label }}</label>
        <div class="inputWrapper shadow-gray">{{ form.footer }}</div>
      </li>
      <li>
        <label>{{ form.logo_file.label }}</label>
        {% if logo_file_name|has_extension %}
        <a id="logo_file_span" href="{{ logo_file_url }}" filename="{{ logo_file_name}}">{{ logo_file_name }}</a>
        {% else %}
        <span id="logo_file_span">{{ logo_file_name }}</span>
        {% endif %}
        {{ form.logo_file }}
        <a id=logo_file-upload class="button-normal button-big-no-width leftAlignment file-upload">{% trans "Upload new" %}</a>
        <a id="logo_file-back_to_default" class="button-normal button-big-no-width leftAlignment back_to_default" href="#">{% trans "Back to default" %}</a>
      </li>
      <li>
        <label></label>
        <div class="descriptionWrapper">
            <span class="description">{{ form.logo_file.help_text}}</span>
        </div>
      </li>
      <li>
        <label>{{ form.use_logo_as_title.label }}</label>
        <div class="inputWrapperCheck shadow-gray"> 
        {% if logo_file_name|has_extension %}
            {{ form.use_logo_as_title }}
        {% else %}
            {{ form.use_logo_as_title|htmlattributes:"disabled: disabled" }}
        {% endif %}
        </div>
      </li>
      <li>
        <label>{{ form.bg_file.label }}</label>
        <a id="bg_file_span" href="{{ bg_file_url }}" filename="{{ bg_file_name}}">{{ bg_file_name }}</a>
        {{ form.bg_file }}
        <a id=bg_file-upload class="button-normal button-big-no-width leftAlignment file-upload">{% trans "Upload new" %}</a>
        <a id="bg_file-back_to_default" class="button-normal button-big-no-width leftAlignment back_to_default" href="#">{% trans "Back to default" %}</a>
      </li>
      <li>
        <label></label>
        <div class="descriptionWrapper">
            <span class="description">{{ form.bg_file.help_text}}</span>
        </div>
      </li>
      <li>
        <label>{{ form.use_bg_image.label }}</label>
        <div class="inputWrapperCheck shadow-gray"> 
        {% if bg_file_name|has_extension %}
            {{ form.use_bg_image }}
        {% else %}
            {{ form.use_bg_image|htmlattributes:"disabled: disabled" }}
        {% endif %}
        </div>
      </li>
      <li>
        <label>{{ form.css_file.label }}</label>
        <a id='css_file_span' filename="{{ css_file_name }}" href='{{ MEDIA_URL }}custom/{% if css_file_name != "default.less" %}custom.less{% else %}{{ css_file_name }}{% endif %}
				'>{{ css_file_name }}</a>
        {{ form.css_file }}
        <a id="css_file-upload" class="button-normal button-big-no-width leftAlignment file-upload" href="#">{% trans "Upload new" %}</a>
        <a id="css_file-back_to_default" class="button-normal button-big-no-width leftAlignment back_to_default" href="#">{% trans "Back to default" %}</a>
      </li>
      <li>
        <label>{{ form.application_icons.label }}</label>
        <a id='application_icons_span' filename="{{ application_icons_name }}" href='{{ application_icons_url }}'>{{ application_icons_name }}</a>
        {{ form.application_icons }}
        <a id="application_icons-upload" class="button-normal button-big-no-width leftAlignment file-upload" href="#">{% trans "Upload new" %}</a>
        <a id="application_icons-back_to_default" class="button-normal button-big-no-width leftAlignment back_to_default" href="#">{% trans "Back to default" %}</a>
      </li>
      <li>
      	<label>{{ form.filetype_icons.label }}</label>
        <a id='filetype_icons_span' filename="{{ filetype_icons_name }}" href='{{ filetype_icons_url }}'>{{ filetype_icons_name }}</a>
        {{ form.filetype_icons }}
        <a id="filetype_icons-upload" class="button-normal button-big-no-width leftAlignment file-upload" href="#">{% trans "Upload new" %}</a>
        <a id="filetype_icons-back_to_default" class="button-normal button-big-no-width leftAlignment back_to_default" href="#">{% trans "Back to default" %}</a>
      </li>
      <li>
      	<label>{{ form.progress_icons.label }}</label>
        <a id='progress_icons_span' filename="{{ progress_icons_name }}" href='{{ progress_icons_url }}'>{{ progress_icons_name }}</a>
        {{ form.progress_icons }}
        <a id="progress_icons-upload" class="button-normal button-big-no-width leftAlignment file-upload" href="#">{% trans "Upload new" %}</a>
        <a id="progress_icons-back_to_default" class="button-normal button-big-no-width leftAlignment back_to_default" href="#">{% trans "Back to default" %}</a>
      </li>
      <li>
      	<label>{{ form.main_menu_bar.label }}</label>
        <a id='main_menu_bar_span' filename="{{ main_menu_bar_name }}" href='{{ main_menu_bar_url }}'>{{ main_menu_bar_name }}</a>
        {{ form.main_menu_bar }}
        <a id="main_menu_bar-upload" class="button-normal button-big-no-width leftAlignment file-upload" href="#">{% trans "Upload new" %}</a>
        <a id="main_menu_bar-back_to_default" class="button-normal button-big-no-width leftAlignment back_to_default" href="#">{% trans "Back to default" %}</a>
      </li>
    </ul>
<div class="control-button" style="width: 200px; margin: 0px auto;">
    <a id="submit" class="button-blue button-big button-submit" href="#" style="margin-top: 10px;">{% trans "Save" %}</a>
</div>
</form>
<script type="text/javascript">
    $('#GUISettingsForm ul a.file-upload').each(function() {
        var name = $(this).attr("id").split("-")[0];
        $(this).file().choose(function(e, input) {
            input.attr("style", "display: none;");
            input.attr("id", name);
            input.attr("class", "file");
            input.attr("name", name);
            $("#" + name).replaceWith(input);
        });
    });
</script>
{% endblock %}
