{% extends "modal_template.html" %}
{% load i18n %}
{% block style %} style="width: 640px;"{% endblock %}
{% block title %}{% trans "Administer Self Registration" %}{% endblock %}
{% block content %}

<form id="SelfRegisterSettingsForm" action="{% url administration-self-register-settings %}" method="post" class="nyroModal">
    {% load extras %}
    {% if form.non_field_errors %}
      <div class="error">
        {%for error in form.non_field_errors %}
          {{error}}
        {% endfor %}
      </div>
    {% endif %}
    {% csrf_token %}
    <ul class="formList">
      <li>
        <label>{{ form.token.label }}</label>
        <div class="inputWrapper shadow-gray">{{ form.token }}</div>
        {{form.token.errors}}
      </li>
    </ul>
<div style="width: 200px; margin: 0px auto;">
    <a id="submit" class="button-gray button-big button-submit" href="#" style="margin-top: 10px;">{% trans "Save" %}</a>
</div>
</form>
<div class="separator"></div>
{% endblock %}
