{% extends "base_template.html" %}
{% load i18n %}
{% block meta_title %}{% trans "User progress" %}{% endblock %}
{% block title %}{% trans "User progress" %}{% endblock %}
{% block js_globals %}var moduleID = {{ course.id|default:"null" }};{% endblock %}
{% block js_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/user-progress.js"></script>
{% endblock %}
{% block statusclass %} class="active"{% endblock %}
{% block content %}
<div class="contentWrapper">
	<h2 class="courseTitle fleft progress{{ ratio }}">
	  {{ course.title }}
	</h2>
	<div class="headerRight fright">
	  <h3 class="fleft">{% trans "User Name" %}</h3>
	  <span class="detail fleft">{{ user_obj.first_name }} {{ user_obj.last_name }}</span>
	</div>
	<div class="boxGray clear">
	  <div class="singleLessonWrapper userProgressWrapper">
	     <div class="rollerWrapper">
	       <div class="leftMargin margin fleft prev">
	         <a href="#" class="browse left"></a>
	        </div>
	        <div class="roller" id="mainScrollerWrapper">
	          <div class="rollerItems" id="mainScroller">
	            <ul>
	            {% for key, segment in segments.items %}
	              <li{% if segment.segment.is_learnt %} class="completed"{% endif %}>
                	<a id="segment_{{ segment.segment.id }}" href="#" class="singleFile">
                  		<img src="{{ MEDIA_URL }}img/blank.gif" class="fileTypeIco fileType{{ segment.segment.file.type }}" alt="" />
                	</a>
                    {% if not segment.segment.available %}
                    <div class="courseApla"></div>
                    {% endif %}
              	  </li>
	            {% endfor %}
	            </ul>
	          </div>
	        </div>
	        <div class="rightMargin margin fright next">
	          <a href="#" class="browse right"></a>
	        </div>
	      </div>
	   </div>
	</div>
	<div id="user_details" class="fleft">

	  <!-- <div class="column">
	    <h3>Group</h3>
	    <span class="detail marked">
	    	{% for group in user_obj.groups.all %}
	        {{ group.name }}{% if not forloop.last %}, {% endif %}
	        {% endfor %}
	    </span>
	  </div> -->
	  {% for key, segment in segments.items %}
	  	<div id="details_segment_{{ segment.segment.id }}" class="segmentDetails">
		    <a href="#" class="singleFile fleft">
		      <img src="{{ MEDIA_URL }}img/blank.gif" class="fileTypeIco fileType{{ segment.segment.file.type }}" alt="" />
		    </a>
		    <div class="fleft">
		      <h3 title="{{ segment.segment.file.title }}">{{ segment.segment.file.title }}</h3>
		      <span class="detail">{% trans "Duration" %}: {{ segment.segment.file.duration }} {% trans "min" %}</span>
              <span class="detail">{% trans "Total time" %}: {{ segment.total_time }}</span>
              <span class="detail">{% trans "Download count" %}: {{ segment.download_count }}</span>
		    </div>
				{% if segment.segment.file.type == 70 %}
					<a href="{{ MEDIA_URL }}swf/player.swf" class="preview" >
						<img src="{{ MEDIA_URL }}img/file_type_scorm.png" alt="" />
				 </a>
				{% else %}
					<a href="{{ MEDIA_URL }}swf/player.swf" class="preview" >
						<img src="{{ segment.segment.file.thumbnail_url }}" alt="" />
					</a>
				{% endif %}

		    <div class="hr"></div>
		  </div>
	{% endfor %}
	</div>
	<div id="userLog" class="fright">
	  <h3>{% trans "User log" %}</h3>
	  <div class="boxGray">
	    <span class="resultHead dateCol">{% trans "Date" %}</span>
	    <span class="resultHead timeCol">{% trans "Duration" %}</span>
	    <span class="resultHead intCol">{% trans "Result" %}</span>
	    {% for key, segment in segments.items %}
	    <ul id="progress_segment_{{ segment.segment.id }}" class="result shadow-gray list">
	    	{% for tracking in segment.trackings %}
		      <li id='progress_tracking_{{ tracking.id }}' class="progress_tracking {% cycle 'odd' 'even' %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
		        <span class="dateCol">{{ tracking.date|date:"Y-m-d H:i" }}</span>
		        <span class="timeCol">{{ tracking.duration }}</span>
		        <span class="intCol last">{% if tracking.result %}{{ tracking.result }}{% else %}n/a{% endif %}</span>
		      </li>
		     {% endfor %}
	    </ul>
	    {% endfor %}
	  </div>
	</div>

	<div id="scormResults" class="fleft">
	  <h3>{% trans "Results log" %}</h3>
	  <div class="boxGray">
	    <span class="resultHead idCol">{% trans "Id" %}</span>
        <span class="resultHead typeCol">{% trans "Type" %}</span>
	    <span class="resultHead responseCol">{% trans "Student response" %}</span>
	    <span class="resultHead resultCol">{% trans "Result" %}</span>
	    {% for key, segment in segments.items %}
	    	{% for tracking_id, results in segment.results.items %}
                <ul id="results_tracking_{{ tracking_id }}" class="result shadow-gray list">
                {% for result in results %}
                  <li class="{% cycle 'odd' 'even' %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
                    <span class="idCol">{{ result.name }}</span>
                    <span class="typeCol">{{ result.type }}</span>
                    <span class="responseCol">{{ result.student_response }}</span>
                    <span class="resultCol last">{{ result.result }}</span>
                  </li>
                {% endfor %}
                </ul>
		     {% endfor %}
	    {% endfor %}
	  </div>
	</div>

</div>
{% endblock %}
